<div class="row h-100 px-3 pb-4">
    <div class="col-lg-5 col-12 mx-auto rounded rounded-5 border border-white bg-white shadow-lg">
        <div class="d-flex flex-column justify-content-evenly h-100">
            <div>
                <img src="/assets/images/file-upload.jpg" alt="" class="img-fluid" />
            </div>
            <div class="mb-3">
                <h3 class="fw-bold">Welcome</h3>
                <small class="text-secondary">Create an account and start uploading files</small>
            </div>
            <div>
                <div class="px-md-5">
                    <a href="/signup">
                        <button class="btn btn-lg btn-primary w-100" type="button">
                            Getting Started
                        </button></a>
                </div>
                <div class="my-3">
                    <small class="text-secondary">Already have an account?
                        <a class="text-primary-emphasis fw-bold ps-1" href="/login">Log In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>